.pokemon-card {
  display: flex;
  background: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}
  
.pokemon-card__image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
  
.pokemon-card__image img {
  max-width: 100px;
}

.pokemon-card__details {
  flex: 2;
  padding-left: 20px;
}

.pokemon-card__name {
  margin: 0;
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
}
  
.pokemon-card__type {
  margin: 5px 0;
  font-size: 0.9em;
  color: #777;
}

.pokemon-card__stats {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.pokemon-card__stats li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.pokemon-card__stats span {
  flex: 1;
  font-size: 0.9em;
  color: #555;
}

.pokemon-card__stat-bar {
  flex: 2;
  background: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
  height: 10px;
  margin-left: 10px;
}
  
.pokemon-card__stat-bar-inner {
  background: #76c893;
  height: 100%;
  width: 0;
}
  