.container-tittle {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.title {
    width: 100%;
    color: #185A7D;
    font-size: 35px;
    font-weight: 300;
}

.subtitle {
    width: 100%;
    color: #868686;
    font-size: 18px;
}

.boldClass {
    font-weight: 600;
}

.p-20 {
    padding: 0px 30px;
}